html { 
	font-family: Tahoma, Geneva, sans-serif;
	color: #6B717B;
  background: url("./mistyMountains.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.mainBox {
	display: flex;
	flex: 12;
	flex-direction: row;
	background-color: #f4f4f4;
	margin-left: 25px;
	margin-right: 25px;
	-moz-box-shadow: 4px 4px 15px #A2A4A8;
	-webkit-box-shadow: 4px 4px 15px #A2A4A8;
	box-shadow: 0px 0px 15px #A2A4A8;
	border-radius: 5px;
	max-height: 575px
}

#txtImgLogoBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 0px 0px 100px;
}


#kerebel {
	height: 150px;
	border-radius: 5px;
	max-height: 589px;
}

#hello {
	font-size: 50px;
	font-weight: bold;
}

#world{
	font-size: 50px;
}

.link {
	color: #6B717B;
	text-decoration: none;
}

.textBox {
	padding-top: 40px;
	max-width: 726px
}

p {
	font-size: 25px;
}









